body{
    background-color: black;
    color: aliceblue;
    font-size: 21px;
}
.container {
    border: 5px solid #2d6262;
    display: flex;
}

.container > div {
    flex: space-around;
}

h1 {
    color: aquamarine;
    font-size: 50px;
}

p {
    color: #2d6262; 
}

